@import "variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans:wght@400;600&display=swap');

.b-typography {
  &__h1 {
    font: normal 600 96px/124px $Montserrat;
    letter-spacing: -1.5px;
  }

  &__h2 {
    font: normal 600 60px/80px $Montserrat;
    letter-spacing: -0.5px;
  }

  &__h3 {
    font: normal 600 48px/64px $Montserrat;
    letter-spacing: 0.25px;
  }

  &__h4 {
    font: normal 600 30px/40px $Montserrat;
    letter-spacing: 0.5px;
  }

  &__h5 {
    font: normal 600 24px/32px $Montserrat;
    letter-spacing: 0.25px;
  }

  &__h6 {
    font: normal 600 20px/28px $Montserrat;
    letter-spacing: 0.25px;
  }

  &__subtitle-1 {
    font: normal 16px/24px $Montserrat;
    letter-spacing: 0.25px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 500;
    }
  }

  &__subtitle-2 {
    font: normal 14px/20px $Montserrat;
    letter-spacing: 0.25px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 500;
    }
  }

  &__subtitle-3 {
    font: normal 12px/16px $Montserrat;
    letter-spacing: 0.25px;

    &--medium {
      font-weight: 600;
    }
  }

  &__body-1 {
    font: normal 16px/24px $OpenSans;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 400;
    }
  }

  &__body-2 {
    font: normal 14px/20px $OpenSans;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 400;
    }
  }

  &__body-3 {
    font: normal 12px/16px $OpenSans;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 400;
    }
  }

  &__button {
    font: normal 600 14px/20px $Montserrat;
    letter-spacing: 0.25px;
    text-transform: capitalize;
  }

  &__caption {
    font: normal 500 12px/16px $Montserrat;
    letter-spacing: 0.25px;

    &--small {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__overline {
    font: normal 600 12px/16px $OpenSans;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
