@import "variables.scss";

.b-typography {
  &__h1 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 124px;
    letter-spacing: -1.5px;
  }

  &__h2 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.5px;
  }

  &__h3 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.25px;
  }

  &__h4 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.5px;
  }

  &__h5 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.25px;
  }

  &__h6 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;
  }

  &__subtitle-1 {
    font-family: $Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 500;
    }
  }

  &__subtitle-2 {
    font-family: $Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 500;
    }
  }

  &__subtitle-3 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;

    &--medium {
      font-weight: 600;
    }
  }

  &__body-1 {
    font-family: $OpenSans;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 400;
    }
  }

  &__body-2 {
    font-family: $OpenSans;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 400;
    }
  }

  &__body-3 {
    font-family: $OpenSans;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;

    &--medium {
      font-weight: 600;
    }

    &--reguler {
      font-weight: 400;
    }
  }

  &__button {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-transform: capitalize;
  }

  &__caption {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;

    &--small {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__overline {
    font-family: $OpenSans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
